button{
    cursor: pointer;
}
details{
    cursor: pointer;
}
tr{
    background-color:rgb(62, 91, 255) ;
}
@media(max-width:768px){
    #im{
        width: 200px;
        height: 200px;
        align-items: left;
    }
}

